


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li a {

    font-size: 1.4rem;
    
    height: 80px;
    padding-top: 10px;
    margin-bottom: 0px;
}


/*----------- MAIN --------------*/

main {

    div#inventoryWrapper{
        grid-template-columns: 1fr 1fr;
    }
}    
     




/*----------- FOOTER --------------*/
    
