header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
#hamburgerBtn {
        display: none;
}

nav {
        position: static;
        transform: translateX(0);
        width: auto;
        div {display: none;}
        ul{
                display: flex;
                margin-left: 2%;
                
        }
}

nav ul li a {
    border: none;    
}


/*----------- MAIN --------------*/
form label.sbs {
        padding: .4rem 0;
        ;
}


/*----------- FOOTER --------------*/
    
