@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

/*----------- HEADER --------------*/
header {
  display: grid;
  grid-template-columns: 51px auto;
  align-items: center;
  padding: 0.5rem 2vw;
  grid-template-columns: 105px auto;
  background-image: linear-gradient(90deg, #5f5f5f 0%, #1d1d1d 100%);
}
header h1 {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 0;
  padding-left: 0;
  color: rgb(224, 224, 224);
  margin-bottom: 5px;
}
header h2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 15px;
  margin-top: 0px;
  color: rgb(224, 224, 224);
}

header figure.logo {
  float: left;
  margin: 0;
}

/*----------- NAVIGATION --------------*/
nav {
  background-color: 41690;
}

/*----------- MAIN --------------*/
main {
  padding: 0 2%;
  min-height: 10rem;
  background-color: #302f2f;
  background-image: linear-gradient(90deg, #302f2f 0%, #1d1d1d 100%);
  padding-bottom: 30px;
}
main h2 {
  padding-left: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
main .card-deck {
  display: flex;
  flex-wrap: wrap;
}
main .card, main .card-two {
  flex-basis: 100%;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 1rem 1%;
  text-align: center;
  background-color: rgb(211, 211, 211);
}
main .card section, main .card-two section {
  background-color: #445ba9;
  color: rgb(228, 228, 228);
  padding: 1rem 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
main .card img, main .card-two img {
  padding: 0.2rem 5vw;
  padding-top: 20px;
}
main .card p, main .card-two p {
  padding: 2rem 1vw;
}
main .card a, main .card-two a {
  display: block;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1rem 0;
  margin: 1rem 4vw;
  border-radius: 10px;
}
main .card a:hover, main .card-two a:hover {
  background-color: #4f67b8;
}
main .card-two {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main .card-two p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

h1 {
  padding-top: 20px;
  font-size: 2rem;
  color: white;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 1rem 2%;
}

form legend {
  color: #ffffff;
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: 28px;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #ffffff;
  font-size: 1rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: rgb(255, 255, 255);
}

form input.submitBtn {
  border: none;
  background-color: #445ba9;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: #445ba9 solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.theGallery figure {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  position: relative;
  margin: 0;
}

section.theGallery figure img {
  width: 100%;
  height: auto;
  position: absolute;
}

.boldText {
  font-size: x-large;
  color: rgb(255, 59, 59);
}

/*----------- FOOTER --------------*/
footer {
  background-color: #445ba9;
  padding: 0.5rem 2%;
  text-align: center;
  color: white;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Adjust the media query max-width value on line 5 to match your breakpoint between the small and medium screens OR between the medium and large screens*/
@media only screen and (max-width: 34.9375rem) {
  nav {
    background-color: #4169e1;
  }
  /* Navigation Button  -------------------------------------------------------- */
  #navWrapper {
    background-color: #9c9c9c;
  }
  nav button {
    position: relative;
    height: 44px;
    width: 44px;
    background: none;
    border: none;
  }
  nav button .line {
    position: absolute;
    height: 2px;
    width: 5%;
    left: 2%;
    background-color: white;
    transition: all 0.3s ease;
  }
  nav button .top {
    top: 29%;
  }
  nav button .middle {
    top: 48%;
  }
  nav button .bottom {
    top: 67%;
  }
  #hamburgerBtn.open .top {
    transform: rotate(45deg);
    top: 48%;
  }
  #hamburgerBtn.open .middle, #hamburgerBtn.open .bottom {
    transform: rotate(-45deg);
    top: 48%;
  }
  nav ul {
    display: none;
    margin: 0;
    padding: 0;
  }
  nav ul li.active a {
    background-color: rgba(145, 145, 145, 0.25);
  }
  nav ul li a {
    display: block;
    padding: 0.75rem 2vw;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  nav ul li a:hover {
    background-color: rgba(124, 124, 124, 0.5);
  }
  nav ul.open {
    display: block;
  }
  nav button {
    width: 100%;
    padding: 0.4rem 2vw;
    text-align: left;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    color: #FFF;
    cursor: pointer;
  }
  /* Navigation Bar -------------------------------------------------------- */
  #primaryNav {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 998;
    font-weight: 400;
  }
  #primaryNav li.active a {
    background-color: rgba(0, 0, 0, 0.25);
  }
  #primaryNav li a {
    display: block;
    width: 100%;
    padding: 0.75rem 2vw;
    font-size: 14px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  #primaryNav li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* Toggle the navigation bar to expand down  */
  #primaryNav.open {
    height: auto;
  }
  /* Submenus – optional .parent class indicates dropdowns */
  #primaryNav > li:hover > a {
    background: rgba(0, 0, 0, 0.5);
  }
  #primaryNav li.parent > a:after {
    font-size: 1rem;
    content: "▼";
    color: rgba(255, 255, 255, 0.5);
    float: right;
  }
  #primaryNav li.parent > a:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  /*hide the sub menu items by default*/
  #primaryNav li ul {
    display: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 0;
  }
  #primaryNav li ul a {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding: 10px 5%;
    font-weight: 400;
  }
  #primaryNav li:hover ul {
    display: block;
  }
} /* End Mobile Styles */
.swiper-wrapper {
  margin-bottom: 30px;
}

.swiper {
  width: 100%;
  height: auto;
}
.swiper img {
  display: block;
  width: 100%;
  height: auto;
}
.swiper p {
  margin: 0;
  padding: 0.4rem 2vw;
  position: absolute;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  width: 100%;
}

@media only screen and (min-width: 35rem) {
  /*----------- BODY --------------*/
  /*----------- HEADER --------------*/
  /*----------- NAVIGATION --------------*/
  nav button {
    display: none;
  }
  nav {
    background-color: #4169e1;
  }
  nav ul {
    display: flex;
    margin-left: 2%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  nav ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  nav ul li a {
    display: block;
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background 0.3s linear;
  }
  nav ul li a:hover {
    background: rgba(97, 97, 97, 0.5);
  }
  nav #primaryNav li.parent > a:after {
    content: "▼";
    font-size: 0.65rem;
    color: rgba(255, 255, 255, 0.5);
    float: left;
    padding-right: 10px;
  }
  nav ul li ul {
    display: flex;
    flex-direction: column;
    background-color: #2b58de;
    border: none;
    width: 14rem;
    position: absolute;
    left: -999rem;
    z-index: 99;
  }
  nav ul li ul li {
    border-right: none;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
  }
  nav ul li:hover ul {
    left: auto;
    margin-left: 0;
  }
  nav li.active a {
    background-color: rgba(0, 0, 0, 0.25);
  }
  /*----------- MAIN --------------*/
  main .card {
    flex-basis: 48%;
  }
  /*----------- FOOTER --------------*/
} /* end of media query */
@media only screen and (min-width: 64rem) {
  header, nav, main, body, footer, .swiper-slide, p {
    max-width: 64rem;
    margin: auto;
  }
  /*----------- BODY --------------*/
  /*----------- HEADER --------------*/
  /*----------- NAVIGATION --------------*/
  nav ul li a {
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
  }
  /*----------- MAIN --------------*/
  /*----------- FOOTER --------------*/
  main h1 {
    padding: 1rem 2vw 0.5rem 1.2vw;
  }
  main .card {
    flex-basis: 46.33%;
  }
  main .card-deck {
    padding-left: 30px;
    align-items: center;
  }
} /* end of media query */