/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box;
}

/* BODY  */
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  background-color: #f4f4f4;
}

/* HEADER  */
header {
  display: grid;
  grid-template-columns: 51px auto;
  align-items: center;
  padding-top: 0.5rem;
  grid-template-columns: 105px auto;
  padding-right: 10px;
}
header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0px;
  color: #0480b1;
}
header h2 {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0rem;
  padding-left: 0;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 18px;
  border-bottom: 1px solid gray;
}

header figure.logo {
  float: left;
  margin: 0;
}

figure.logo {
  padding-left: 10px;
}

.hImage {
  padding-left: 10px;
  padding-right: 10px;
}

/* NAVIGATION STUFF GOES HERE  */
#navWrapper {
  display: flex;
  background-color: transparent;
  justify-content: right;
}

nav {
  background-color: transparent;
}
nav button {
  padding: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
nav button span:nth-child(1) {
  display: block;
}
nav button span:nth-child(2) {
  display: none;
}
nav button.open span:nth-child(1) {
  display: none;
}
nav button.open span:nth-child(2) {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  display: none;
}

ul.open {
  display: block;
}

nav ul li a {
  display: block;
  background-color: transparent;
  color: gray;
  padding: 0.2rem 0vw;
  text-decoration: none;
  font-size: 0.9rem;
}

nav ul li a:hover {
  background-color: rgb(27, 27, 27);
  color: rgb(255, 255, 255);
}

nav ul li.active a {
  background-color: #000;
  color: #fff;
}

.hImage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 10px;
}

#navWrapper img {
  display: none;
}

/* MAIN  */
main p {
  padding: 0rem 0rem 2vw;
  color: rgb(255, 255, 255);
  line-height: 125%;
}
main h1 {
  padding: 2vw 0.5rem 5.5vw;
  padding-bottom: 5px;
  font-size: 10px;
  color: black;
  font-weight: 600;
  margin: 0;
}

#mainWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-top: 15px;
  background-color: #111118;
  font-size: 13px;
}
#mainWrapper h1 {
  font-size: 26px;
  padding-left: 12px;
  color: #fdd831;
}

.theBest {
  max-width: 1100px;
}
.theBest ul {
  padding-top: 10px;
  font-size: 15px;
  padding-left: 3rem;
  color: white;
}
.theBest p {
  padding-left: 14px;
}

.formula {
  text-align: left;
  padding-top: 30px;
}
.formula h1 {
  padding-right: 0px;
}
.formula h2 {
  color: white;
  font-size: 19px;
  padding-left: 20px;
  line-height: 140%;
}

.aboutUs {
  padding-top: 50px;
  color: #0480b1;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-bottom: 1px gray solid;
}
.aboutUs h1 {
  border-bottom: 1px solid gray;
}

div.aboutUsGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 10px;
}

div.aboutUsGallery figure {
  flex-basis: 40%;
  margin: 0rem 0rem;
}

div.aboutUsGallery figure img {
  width: 100%;
}

div.aboutUsGallery figcaption {
  text-align: left;
  font-size: 22px;
  font-weight: lighter;
  color: #0480b1;
  padding-top: 12px;
  padding-bottom: 8px;
}

.growthImage {
  margin-bottom: 0px;
}

div.lastSection figure img {
  width: 100%;
  padding: 5px 5px 0px 5px;
}

.lastSection p {
  padding-left: 5px;
}

div.lastSection figcaption {
  text-align: left;
  font-size: 22px;
  font-weight: lighter;
  padding-top: 12px;
  padding-bottom: 10px;
  color: #0480b1;
  padding-left: 5px;
}

.techSupport p {
  padding-bottom: 30px;
}

.learnMore {
  display: block;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  margin: 0px 5px;
  padding-bottom: 90px;
  text-align: center;
  font-size: 25px;
}

.growthText {
  font-size: 12px;
  padding-left: 55px;
  padding-top: 10px;
}

.growth-btn {
  width: 75%;
  height: 40px;
  background-color: #0480b1;
  color: white;
  border: none;
  border-radius: 17px;
  margin-top: 8px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.growth-btn:hover {
  background: gray;
}

figure p {
  font-size: 12px;
  color: gray;
}

.myphoto {
  display: block;
  float: right;
  width: 50%;
  padding: 2vw 0.5rem 5.5vw;
}

.sponsors {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

/* FOOTER  */
.brands {
  width: 90%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-bottom: 20px;
}
.brands img {
  width: 100%;
  height: auto;
}

#footerWrapper {
  background-color: #0480b1;
}

footer {
  font-size: 0.85rem;
  padding: 1rem 0;
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: #02456b;
  background-image: linear-gradient(0deg, #02456b 38%, #0480b1 100%);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 48rem) {
  body {
    font-size: 23px;
  }
  /* NAVIGATION STUFF GOES HERE  */
  #navWrapper {
    display: flex;
    justify-content: right;
  }
  nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  nav button {
    display: none;
  }
  nav ul, nav ul.open {
    border: none;
    display: flex;
    justify-content: left;
  }
  nav ul li {
    border: none;
  }
  nav li {
    padding-right: 10px;
    padding-top: 6px;
  }
  #navWrapper img {
    display: flex;
    max-height: 24px;
    margin-top: 7px;
    padding-right: 5px;
    padding-bottom: 7px;
  }
  figure.logo {
    padding-left: 10px;
  }
  /*hero image stuff*/
  main {
    display: flex;
  }
  main h1 {
    font-size: 2.5rem;
  }
  main p {
    padding-bottom: 10px;
    padding-left: 1rem;
  }
  .theBest {
    max-width: 1000px;
  }
  .theBest ul {
    padding-left: 3rem;
    color: white;
  }
  .formula {
    text-align: right;
    padding-top: 0px;
    max-width: 800px;
  }
  .formula h1 {
    padding-right: 15px;
  }
  .formula h2 {
    color: white;
    font-size: 20px;
    padding-right: 10px;
  }
  div.aboutUsGallery figure {
    flex-basis: 38%;
    justify-content: space-around;
  }
  .brands {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, auto);
  }
  footer {
    margin-top: 100px;
    padding-left: 45px;
  }
}
@media only screen and (min-width: 58.75rem) {
  header, main, #navWrapper, img, .hImage, .aboutUs, .lastSection, .brands, .callNumber {
    max-width: 53rem;
    margin: auto;
  }
  /* NAVIGATION STUFF GOES HERE  


  /*hero image stuff*/
  figure.logo {
    padding-left: 10px;
  }
  main h1 {
    padding: 1rem 2vw 0.5rem 1.2vw;
  }
  .theBest {
    width: 900px;
    margin-right: 5px;
  }
  .theBest h1 {
    margin-left: 10px;
  }
  .theBest p {
    margin-left: 10px;
  }
  .theBest ul {
    padding-left: 6rem;
    color: white;
    line-height: 150%;
  }
  .formula {
    width: 700px;
  }
  .formula h1 {
    padding-right: 10px;
  }
  .formula h2 {
    color: white;
    font-size: 19px;
    padding-right: 10px;
    line-height: 120%;
  }
  #mainWrapper h1 {
    padding-left: 0px;
  }
  #mainWrapper p {
    padding-left: 0;
  }
  div.aboutUsGallery {
    padding-top: 10px;
  }
  div.aboutUsGallery figure {
    flex-basis: 22%;
    justify-content: space-between;
    padding-right: 0px;
  }
  .lastSection {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 400px 400px 340px;
    grid-template-rows: 350px 150px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .lastSection p {
    text-align: left;
  }
  .lastSection .figure {
    width: 100%;
  }
  .techSupport {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .brands {
    width: 53rem;
  }
  footer {
    margin-top: 30px;
    padding-left: 45px;
  }
}